@page

@model Client.Pages.IndexModel

<h3>
	Page: Home
</h3>

<hr />

[<a href="~/Index">Home</a>]
|
[<a href="~/MySecuredPage">My Secured Page</a>]
|
[<a href="~/Account/Login">Login</a>]
|
[<a href="~/Account/Logout">Logout</a>]
|
[<a href="~/Account/Register">Register</a>]
|
[<a href="~/Account/AccessDenied">Access Denied</a>]
|
[<a href="~/My/Index">My Controller: Index</a>]
|
[<a href="~/My/MySecuredAction">My Controller: My Secured Action</a>]
|
[<a href="~/api/MyApi">My Api: (GET)</a>]
|
<button onclick="getData()" type="button">My Api: POST</button>

<hr />

<script>

	function getData() {

		//alert("Hello, World!");

		//alert('Hello, World!');

		//alert('Hello, World!')

		let request = null

		fetch('/api/MyApi', {

			method: 'POST',

			headers: {
				'Accept': 'application/json; charset=UTF-8',
				'Content-Type': 'application/json; charset=UTF-8'
			},

			body: JSON.stringify(request)

		})
			.then(response => response.json())

			.then(data => {

				console.log(JSON.stringify(data))

			})

			.catch(error => {

				console.error('Error 401 - Unauthorize!')

			})

	}

</script>
